<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#088C6F">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <link href="stylesheets/universal.css" rel="stylesheet">
    <link href="stylesheets/index.css" rel="stylesheet">
    <link href="stylesheets/animate.min.css" rel="stylesheet">
    <title>Business Managment System</title>
</head>

<body>
    <!--Top Bar-->
    <%- include ../partials/header.ejs %>

        <!-- Side Bar -->
        <%- include ../partials/sidebar.ejs %>

            <aside class="container-fluid" id="content">
                <!-- Overview DIV-->
                <div class="card container animated slideInLeft" id="overview">
                    <h3 style="color: #088C6F;">Overview</h3>
                    <h4 class="text-center">
                        Dra InfraTech
                    </h4>
                    <div class="chart-data">
                        <canvas id="chart1" width="900px" height="200px"></canvas>
                    </div>
                </div>

                <br />
                <div class="card container animated slideInRight" id="overview">
                    <h3 style="color: #088C6F;">Overview</h3>
                    <h4 class="text-center">
                        Jk InfraTech
                    </h4>
                    <div class="chart-data">
                        <canvas id="chart2" width="900px" height="200px"></canvas>
                    </div>
                </div>
                

                <br />
                <div class="card container animated slideInLeft" id="overview">
                    <h3 style="color: #088C6F;">Overview</h3>
                    <h4 class="text-center">
                        Lalji Traders
                    </h4>
                    <div class="chart-data">
                        <canvas id="chart3" width="900px" height="200px"></canvas>
                    </div>
                </div>

                <br />



                


                <!--Partials DIV -->

            </aside>

            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

            <!-- Latest compiled Bootstrap JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
            <script src="controllers/script.js"></script>
            <script src="controllers/ejs.js"></script>

            <script>

                // var debtors = <%= d.dra_infratech_ac.debit %>;
                // var creditors = <%= d.dra_infratech_ac.debit %>;
                // var ctx = document.getElementById('chart1').getContext('2d');
                // var chart = new Chart(ctx, {
                //     type: 'doughnut',
                //     data: {
                //         labels: ['Cash Inflow', 'Cash Outflow'],
                //         datasets: [
                //             {
                //                 data: [cashInFlow, cashOutFlow],
                //                 backgroundColor: ["#81AE64", "#CF0A2C"]
                //             }
                //         ]
                //     }
                // });

                // var debtors = <%= d.jk_traders_ac.debit %>;
                // var creditors = <%= d.jk_traders_ac.debit %>;
                // var ctx = document.getElementById('chart2').getContext('2d');
                // var chart = new Chart(ctx, {
                //     type: 'doughnut',
                //     data: {
                //         labels: ['Cash Inflow', 'Cash Outflow'],
                //         datasets: [
                //             {
                //                 data: [cashInFlow, cashOutFlow],
                //                 backgroundColor: ["#81AE64", "#CF0A2C"]
                //             }
                //         ]
                //     }
                // });

                var cashInFlow1 = <%= d.dra_infratech_ac.credit %>;
                var cashOutFlow2 = <%= d.dra_infratech_ac.debit %>;

                var ctx = document.getElementById('chart1').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: ['Cash Inflow', 'Cash Outflow'],
                        datasets: [
                            {
                                data: [cashInFlow1, cashOutFlow2],
                                backgroundColor: ["#81AE64", "#CF0A2C"]
                            }
                        ]
                    }
                });
            </script>
            <script>
                var cashInFlow = <%= d.jk_traders_ac.credit %>;
                var cashOutFlow = <%= d.jk_traders_ac.debit %>;

                var ctx = document.getElementById('chart2').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Cash Inflow', 'Cash Outflow'],
                        datasets: [
                            {
                                data: [cashInFlow, cashOutFlow],
                                backgroundColor: ["#81AE64", "#CF0A2C"]
                            }
                        ]
                    }
                });

            </script>
            <script>
                var cashInFlow = <%= d.lalji_traders_ac.credit %>;
                var cashOutFlow = <%= d.lalji_traders_ac.debit %>;

                var ctx = document.getElementById('chart3').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: ['Cash Inflow', 'Cash Outflow'],
                        datasets: [
                            {
                                data: [cashInFlow, cashOutFlow],
                                backgroundColor: ["#81AE64", "#CF0A2C"]
                            }
                        ]
                    }
                });

            </script>
</body>

</html>